@import 'bower_components/vui-link/link.scss';
@import 'bower_components/vui-focus/focus.scss';

@mixin vui-icon-action() {
	display: inline-block;
	text-decoration: none;
}

@mixin vui-icon-action-text() {
	padding-left: 4px;
	vertical-align: middle;
	[dir='rtl'] & {
		padding-right: 4px;
		padding-left: 0;
	}
}

@mixin vui-icon-action-text-main() {
	@include vui-icon-action-text;

	&,
	&:visited {
		color: #555555;
		font-weight: bold;
	}

	&:hover {
		color: #333333;
	}
}

@mixin vui-icon-action-text-gray() {
	@include vui-icon-action-text;
	color: #353535
}

@mixin vui-icon-action-img() {
	vertical-align: middle;
	[dir='rtl'] & {
		background-position: right top;
	}
}
