@import 'bower_components/vui-focus/focus.scss';
@import 'bower_components/vui-colors/colors.scss';

@mixin vui-page-image-actions() {
	list-style: none;
	white-space: nowrap;

	>li {
		display:inline-block;
	}

	>li:not(:first-child) {
		padding-left: 0.72rem;
	}

	>li:not(:last-child) {
		padding-right: 0.72rem;
	}

	[dir='rtl'] & {
		>li:first-child {
			padding-left: 0;
			padding-right: 0.72rem;
		}

		>li:last-child {
			padding-left: 0.72rem;
			padding-right: 0;
		}
	}
}

@mixin vui-image-action() {
	display: inline-block;
	text-decoration: none;

	>span {
		color: $vui-color-ferrite;
		font-size: 0.7rem;
		font-weight: normal;
		padding-left: 0.3rem;
		text-decoration: none;
		vertical-align: middle;

		[dir='rtl'] & {
			padding-right: 0.3rem;
			padding-left: 0;
		}
	}

	>img {
		vertical-align: middle;

		[dir='rtl'] & {
			background-position: right top;
		}
	}

	&:focus {
		@include vui-focus-outline;
	}

	&:hover,
	&:focus {
		>span {
			cursor: pointer;
			text-decoration: underline;
		}
	}
}
