@import 'bower_components/vui-link/link.scss';
@import 'bower_components/vui-focus/focus.scss';

@mixin vui-image-action() {
	display: inline-block;
	text-decoration: none;

	&:focus {
		@include vui-focus-outline;
	}
}

@mixin vui-image-action-text() {
	color: $vui-link-color;
	cursor: pointer;
	text-decoration: $vui-link-textDecoration;
	padding-left: 4px;
	vertical-align: middle;

	[dir='rtl'] & {
		padding-right: 4px;
		padding-left: 0;
	}

	&:hover,
	&:focus {
		color: $vui-link-color-focus;
		text-decoration: $vui-link-textDecoration-focus;
	}
}

@mixin vui-image-action-img() {
	vertical-align: middle;
	[dir='rtl'] & {
		background-position: right top;
	}
}
